header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
	width: 105%;
}

nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 2000px;
	width: 300px;
	float: left;
	padding: 5px;
}

.card-text {
	width: 300px;
}

section {
	width: 300px;
	float: left;
	height: 300px;
	padding: 5px;
}

#dotted {
	border-style: dotted;
	height: 70px;
	width: 400px;
}

#span {
	/*float: right;*/
	width: 500px;
	margin-top: 20px;
	margin-left: 340px;
}

.content{
	margin-left: 20px;
}

#commentList{
	float: left;
	width: 900px;
	height: 400PX;
	margin-top: 20px;
	/*background-color: #C0C0C0;*/
}

#dashed {
	border-top: 1px dashed #cccccc;
	height: 1px;
	overflow: hidden;
	margin-left: 8px;
}

.btn {
	margin-top: 10px;
	margin-left: 20px;
}

.footer {
	clear: both;
	float: left;
	margin-top: 90PX;
	margin-left: 220PX;
/*	padding: 5px;*/
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.essay {
	width: 290px;
	height: 50px;
	text-align: center;
	background-color: #07EAD5;
	font-size: 16px;
}

.essayClassify {
	float: left;
	margin-left: 80px;
}

.userInfo {
	font-size: 16px;
}

li a {
	display: block;
	margin-left: 10px;
}

li {
	float: left;
	margin-top: 10px;
}

li a:hover {
	background-color: #57F1F1;
	text-decoration: none;
}