section {
	width: 800px;
	float: left;
	height: 300px;
	padding: 5px;
}

.list{
	margin-left: 50px;
}


.date{
	color: #800000;
	font-size: 22px;
}

.title{
	font-size: 25px;
}

.pagination{
	margin-left: 300px;
}
