#span {
	width: 500px;
	margin-top: 20px;
	margin-left: 340px;
}

section {
	width: 300px;
	float: left;
	height: 300px;
	padding: 5px;
}

#dotted {
	border-style: dotted;
	height: 70px;
	width: 400px;
}

.content {
	margin-left: 20px;
}

#commentList {
	float: left;
	width: 900px;
	height: 400PX;
	margin-top: 20px;
}

.btn {
	margin-top: 10px;
	margin-left: 20px;
}

.footer {
	clear: both;
	float: left;
	margin-top: 90PX;
	margin-left: 220PX;
}