header {
	color: white;
	padding: 15px;
	width: 90%;
	margin-top: 10px;
}

nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 2000px;
	width: 300px;
	float: left;
	padding: 5px;
}

section {
	width: 900px;
	float: left;
	height: 300px;
	padding: 5px;
}

img {
	margin-left: 250px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

li {
	float: right;
	margin-top: 10px;
}

li a {
	display: block;
	margin-left: 20px;
	color: #3ED6D6;
}

li a:hover {
	color: #57F1F1;
}

.card-text {
	width: 300px;
}

.opr {
	width: 290px;
	height: 50px;
	text-align: center;
	background-color: #07EAD5;
	font-size: 16px;
}

.operate {
	float: left;
	margin-left: 80px;
}

.article-title {
	width: 380px;
}

.number {
	margin-left: 17px;
}